version: "3.7"

services:
  nginx:
    image: umputun/nginx-le:latest
    hostname: nginx
    restart: always
    container_name: nginx

    logging:
      driver: json-file
      options:
          max-size: "10m"
          max-file: "5"

    volumes:
        - ./etc/ssl:/etc/nginx/ssl
        - ./etc/nginx/service.conf:/etc/nginx/service.conf
    ports:
      - "80:80"
      - "443:443"
    networks:
      - frontend

    environment:
      - TZ=America/Chicago
      - LETSENCRYPT=true
      - LE_EMAIL=techops@obada.io
      - LE_FQDN={{ obada_member }}.node.obada.io

  node:
    image: obada/node:develop
    container_name: node
    restart: always
    environment:
      - AWS_KEY={{ aws_key }}
      - AWS_SECRET={{ aws_secret }}
      - PUBSUB_QUEUE_URL={{ sqs_queue_url }}
    volumes:
      - ./db/obada.db:/root/obada.db
    networks:
      - backend
      - frontend

  zipkin:
    image: openzipkin/zipkin:2.21
    container_name: zipkin
    networks:
      - backend
    ports:
      - 127.0.0.1:9411:9411

networks:
  backend:
  frontend:

volumes:
  db_data: {}
