version: "3.7"

services:
  node:
    image: obada/node:develop
    container_name: node
    restart: always
    ports:
      - "80:80"
      - "443:443"
    environment:
      - NODE_URL=https://{{ obada_member }}.node.obada.io
      - PUBSUB_QUEUE_URL={{ sqs_queue_url }}
      - SSL_TYPE=auto
      - SSL_ACME_EMAIL=techops@obada.io
      - SSL_PORT=443
    command: ./node run --aws.key={{ aws_key }} --aws.secret={{ aws_secret }} --api.port=80 --api.address=0.0.0.0
    volumes:
      - ./db/obada.db:/root/obada.db
      - ./acme:/root/var/acme
    networks:
      - backend
      - frontend

  zipkin:
    image: openzipkin/zipkin:2.21
    container_name: zipkin
    networks:
      - backend
    ports:
      - 127.0.0.1:9411:9411

networks:
  backend:
  frontend:

volumes:
  db_data: {}
